.searchContainer {
  background-color: $search-area-bg;
  margin: 0 auto;
  padding: 30px 50px 40px;
  width: 872px;

  .searchTitle {
    color: $solid-text;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 1.4px;
    width: 62px;
    height: 20px;
  }

  .searchContent {
    align-items: center;
    display: flex;

    .searchInput {
      border: 0;
      border-bottom: 1px solid $primary-highlight-color;
      flex: 1;
      font-family: 'Proxima Nova', sans-serif;
      height: 40px;

      input {
        background-color: $transparent-color;
        border: 0;
        color: $solid-text;
        font-size: 12px !important;
        letter-spacing: 0.6px;
        line-height: 1.67;
        padding: 11px 0;
      }
    }

    .searchButton {
      align-items: center;
      background-color: $primary-highlight-color;
      border-radius: 2px;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 0;
      width: 40px;

      .searchButtonIcon {
        border-bottom: 7px solid transparent;
        border-left: 9px solid $primary-bg;
        border-top: 7px solid transparent;
        height: 0;
        width: 0;
      }
    }
  }
}
