@import '../../../styles/mixins/info-panel';

.epochSummaryContainer {
  margin: 0 auto;
  max-width: 872px;
  width: 100%;

  .header {
    margin-bottom: 41px;
  }

  .content {
    align-items: center;
    display: flex;

    @include info-panel($label-width: 130px);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
