.stakeDistributionContainer {
  margin: 0 auto;
  max-width: 872px;
  width: 100%;

  .header {
    margin-bottom: 41px;
  }

  .listHeader {
    align-items: center;
    color: var(--secondary-highlight-color);
    display: flex;
    font-family: ProximaNova, sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2;
    padding: 5px 25.5px;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 991px) {
      padding: 5px 12px;
    }

    .slotsElected {
      text-align: left;
      width: 50%;
    }

    .stakePool {
      text-align: left;
      width: 50%;
    }

    @media (max-width: 575px) {
      .slotsElected {
        text-align: center;
      }
    }
  }

  .stakeDistributionRowContainer {
    border-bottom: 2px dotted var(--dotted-separator-color);
  }
}
