.blockListRowContainer {
  align-items: center;
  color: $table-text;
  display: flex;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 1.33;
  padding: 5px 0;
  text-align: center;

  .epoch {
    color: $primary-highlight-color;
    width: 90px;
  }

  .blocksSlots {
    color: $primary-highlight-color;
    width: 100px;
  }

  .createdAt {
    width: 160px;
  }

  .createdBy {
    flex: 1;
    text-align: right;
  }

  .transactions {
    width: 120px;
  }

  .size {
    text-align: right;
    width: 120px;
  }

  .output {
    text-align: right;
    width: 162px;
  }

  @media (max-width: 575px) {
    .epoch {
      width: 70px;
    }
    .blocksSlots {
      width: 90px;
    }
    .createdAt {
      flex: 1;
      width: auto;
    }
    .createdBy {
      display: none;
    }
    .transactions {
      display: none;
    }
    .size {
      display: none;
    }
    .output {
      display: none;
    }
  }
}
