.blockListRowContainer {
  align-items: center;
  color: $table-text;
  display: flex;
  font-family: ProximaNova, sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 1.33;
  padding: 5px 25.5px;
  text-align: center;

  @media (max-width: 991px) {
    padding: 5px 12px;
  }

  .epoch {
    color: $primary-highlight-color;
    width: 90px;
  }

  .blocksSlots {
    align-items: center;
    color: $primary-highlight-color;
    display: flex;
    justify-content: center;
    width: 100px;

    .blocksSlotsIcon {
      background-color: $secondary-color;
      border: solid 1px $primary-highlight-color;
      border-radius: 2px;
      display: block;
      height: 10px;
      margin-left: 5px;
      width: 16px;
    }
  }

  .createdAt {
    width: 160px;
  }

  .createdBy {
    text-align: right;
    width: 120px;
  }

  .transactions {
    width: 120px;
  }

  .size {
    text-align: right;
    width: 120px;
  }

  .output {
    text-align: right;
    width: 122px;
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .createdAt {
      width: 120px;
    }
  }

  @media (max-width: 767px) and (min-width: 576px) {
    .size {
      display: none;
    }
  }

  @media (max-width: 575px) {
    .epoch {
      width: 50px;
    }

    .blocksSlots {
      width: 90px;
    }

    .createdBy {
      display: none;
    }

    .transactions {
      display: none;
    }

    .size {
      display: none;
    }

    .output {
      display: none;
    }
  }
}
