.blockListContainer {
  width: 872px;
  margin: 0 auto;

  .header {
    margin-bottom: 41px;
  }

  .listHeader {
    align-items: center;
    color: $secondary-highlight-color;
    display: flex;
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 2;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;

    .epoch {
      width: 90px;
    }

    .blocksSlots {
      width: 100px;
    }

    .createdAt {
      width: 160px;
    }

    .createdBy {
      text-align: right;
      width: 120px;
    }

    .transactions {
      width: 120px;
    }

    .size {
      text-align: right;
      width: 120px;
    }

    .output {
      text-align: right;
      width: 162px;
    }
  }

  .blockListRow {
    border-bottom: 2px dotted $dotted-separator-color;
  }

  .showMore {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .showMoreButton {
      align-items: center;
      background-color: $primary-highlight-color;
      border-radius: 2px;
      color: $primary-bg;
      display: flex;
      font-family: ProximaNova;
      font-size: 12px;
      font-weight: 600;
      height: 25px;
      justify-content: center;
      letter-spacing: 0.4px;
      line-height: 1.33;
      padding: 0;
      width: 133.5px;

      &:hover {
        background-color: $primary-highlight-color-hover;
      }
      &:active {
        background-color: $primary-highlight-color-press;
      }
    }
  }
}
