.blockListContainer {
  :global {
    .epoch {
      width: 90px;
    }

    .blocksSlots {
      width: 100px;
    }

    .TableBodyRow_row {
      .epoch {
        color: $primary-highlight-color;
      }
      .blocksSlots {
        color: $primary-highlight-color;
      }
    }

    .createdAt {
      width: 160px;
    }

    .createdBy {
      flex: 1;
      text-align: right;
    }

    .transactions {
      width: 120px;
    }

    .size {
      text-align: right;
      width: 120px;
    }

    .output {
      text-align: right;
      width: 122px;
    }

    @media (max-width: 991px) and (min-width: 768px) {
      .createdAt {
        width: 120px;
      }
      .transactions {
        display: none;
      }
    }

    @media (max-width: 767px) and (min-width: 576px) {
      .transactions {
        display: none;
      }
      .size {
        display: none;
      }
      .output {
        display: none;
      }
    }

    @media (max-width: 575px) {
      .epoch {
        width: 50px;
      }
      .blocksSlots {
        width: 90px;
      }
      .createdAt {
        flex: 1;
        width: auto;
      }
      .createdBy {
        display: none;
      }
      .transactions {
        display: none;
      }
      .size {
        display: none;
      }
      .output {
        display: none;
      }
    }
  }
}
