:global {
  * {
    box-sizing: border-box;
  }
  html,
  body,
  #__next {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select,
    textarea,
    input {
      font-size: 16px !important; // ios zoom input focus fix
    }
  }
}

.content {
  background-color: $primary-bg;
  min-height: 100vh;
}

.container {
  max-width: 952px;
  margin: 0 auto;
}
