/**
 *
 * Variables for the `incentivized-testnet` theme.
 *
 */
$transparent-color: transparent;
$primary-highlight-color: #eb2256;
$primary-highlight-color-hover: #d41345;
$primary-highlight-color-press: #c81241;
$secondary-highlight-color: #f69ab2;
$secondary-half-color: rgba(246, 154, 178, 0.5);
$secondary-color: rgba(235, 34, 86, 0.3);
$dotted-separator-color: rgba(246, 154, 178, 0.3);
$footer-text-color: #eb2256;
$spinner-circle-background-color: conic-gradient(
  rgba(235, 34, 86, 0),
  rgba(235, 34, 86, 0.2) 21%,
  #eb2256 52%,
  rgba(235, 34, 86, 0.3) 57%,
  rgba(235, 34, 86, 0),
  rgba(235, 34, 86, 0)
);
