/**
 *
 * Variables for the `testnet` theme.
 *
 */
$primary-highlight-color: #1fc1c3;
$primary-highlight-color-hover: #1db0b3;
$primary-highlight-color-press: #1aa1a3;
$secondary-highlight-color: #709cf0;
$dotted-separator-color: #36395d;
