/**
 *
 * Variables for the `incentivized-testnet` theme.
 *
 */
$primary-highlight-color: #eb2256;
$primary-highlight-color-hover: #d41345;
$primary-highlight-color-press: #c81241;
$secondary-highlight-color: #f69ab2;
$dotted-separator-color: rgba(246, 154, 178, 0.3);
