.searchContainer {
  padding: 30px 50px 40px;
  width: 872px;

  .searchTitle {
    color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 1.43;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .searchContent {
    align-items: center;
    display: flex;

    .searchInput {
      border: 0;
      border-bottom: 1px solid #1fc1c3;
      flex: 1;
      font-family: 'Proxima Nova', sans-serif;
      height: 40px;

      input {
        background-color: transparent;
        border: 0;
        color: #ffffff;
        font-size: 12px !important;
        letter-spacing: 0.6px;
        line-height: 1.67;
        padding: 11px 0;
      }
    }

    .searchButton {
      align-items: center;
      background-color: #1fc1c3;
      border-radius: 2px;
      display: flex;
      height: 40px;
      justify-content: center;
      padding: 0;
      width: 40px;

      .searchButtonIcon {
        border-bottom: 7px solid transparent;
        border-left: 9px solid #121326;
        border-top: 7px solid transparent;
        height: 0;
        width: 0;
      }
    }
  }
}
