.containerComponent {
  margin: 0 auto;
  max-width: 920px;
  padding: 0 24px;
  position: relative;
  width: 100%;

  &.topMargin {
    @media (max-width: 575px) {
      margin-top: 40px;
    }
  }
}
