.blocksListRowContainer {
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 1.33;
  padding: 5px 0;
  text-align: center;

  .epoch {
    color: #1fc1c3;
    width: 90px;
  }

  .blocksSlots {
    color: #1fc1c3;
    width: 100px;
  }

  .createdAt {
    width: 160px;
  }

  .createdBy {
    text-align: right;
    width: 120px;
  }

  .transactions {
    width: 120px;
  }

  .size {
    text-align: right;
    width: 120px;
  }

  .output {
    text-align: right;
    width: 162px;
  }
}
