.footerContainer {
  background-color: #121326;
  padding: 78px 40px;

  .footerTopContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .copyright {
      color: #ffffff;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 12px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: 1.2px;
      opacity: 0.3;
      text-transform: uppercase;
    }

    .logos {
      align-items: center;
      display: flex;
      justify-content: space-evenly;

      .logoText {
        align-items: center;
        display: flex;

        .iohkLogo {
          height: 22px;
          width: 29px;
        }

        .iohkText {
          color: #ffffff;
          font-family: 'Proxima Nova', sans-serif;
          font-size: 10px;
          font-stretch: normal;
          font-style: normal;
          font-weight: normal;
          line-height: 1.6;
          letter-spacing: 1px;
          opacity: 0.3;
          padding-left: 10px;
          text-transform: uppercase;
        }

        @media (max-width: 768px) {
          padding-bottom: 15px;
        }
      }

      .socialIcons {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .twitterIcon,
        .facebookIcon,
        .youtubeIcon,
        .newsletterIcon {
          height: 12px;
          margin-left: 10px;
          object-fit: contain;
          width: 14px;
        }
      }

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .footerMiddleContainer {
    .footerSeparator {
      background-color: #ffffff;
      height: 2px;
      margin: 9px 0;
      opacity: 0.1;
    }
  }

  .footerBottomContainer {
    display: flex;

    .cardanoTextContainer {
      max-width: 63.5%;

      .cardanoTextTitle {
        color: rgba(255, 255, 255, 0.3);
        font-family: 'Proxima Nova', sans-serif;
        font-size: 10px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.2px;

        span {
          color: rgba(235, 34, 86, 0.5);
          font-family: 'Proxima Nova Semibold', sans-serif;
          font-weight: 600;
        }
      }

      .cardanoText {
        color: rgba(255, 255, 255, 0.3);
        font-family: 'Proxima Nova', sans-serif;
        font-size: 10px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.2px;

        p {
          font-style: italic;
          margin: 0;
          padding: 0;
        }
      }

      @media (max-width: 768px) {
        max-width: 100%;
      }
    }

    .footerMenusContainer {
      display: flex;

      .aboutCardanoMenuContainer,
      .joinTheCommunityMenuContainer {
        padding-left: 35px;

        .aboutCardanoTitle,
        .joinTheCommunityTitle {
          color: #ffffff;
          font-family: 'Proxima Nova Semibold', sans-serif;
          font-size: 10px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          line-height: 1.8;
          letter-spacing: 0.5px;
          opacity: 0.3;
        }

        .aboutCardanoMenu,
        .joinTheCommunityMenu {
          list-style: none;
          padding: 0;
          text-align: left;

          li {
            a {
              color: #ffffff;
              font-family: 'Proxima Nova', sans-serif;
              font-size: 10px;
              font-stretch: normal;
              font-style: normal;
              font-weight: 300;
              opacity: 0.3;
              line-height: 1.8;
              letter-spacing: 0.5px;
              text-decoration: none;

              &.emailLink {
                color: rgba(235, 34, 86, 0.5);
                font-weight: 600;
                opacity: 1;
              }
            }
          }
        }

        @media (max-width: 992px) {
          min-width: 27.25%;
        }

        @media (max-width: 768px) {
          max-width: initial;
          min-width: initial;
          padding-left: 0;
        }
      }

      @media (max-width: 992px) {
        justify-content: space-between;
        min-width: 47%;
      }

      @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
