.unmoderatedDataConsentedContainer {
  background: var(--secondary-highlight-color);
  color: var(--primary-bg-color);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.8px;
  line-height: 1.33;
  padding: 10px 0;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 9999;
}
