.transactionLayout {
  header {
    button {
      background: transparent !important;
      border: 1px solid #eb2256;

      > div {
        border-left: 9px solid #eb2256 !important;
      }
    }
  }

  .container {
    margin: 0 auto;
    max-width: 1366px;
    padding: 0 32px;
    position: relative;
    width: 100%;

    .transactionSummary {
      margin: 71px 0;

      @media (max-width: 575px) {
        margin: 51px 0;
      }
    }

    .transactionList {
      margin-bottom: 139.5px;

      button {
        display: none;
      }

      @media (max-width: 575px) {
        margin-bottom: 83px;
      }
    }

    .transactionInfo {
      margin-bottom: 139.5px;

      button {
        display: none;
      }

      @media (max-width: 575px) {
        margin-bottom: 83px;
      }
    }
  }
}
