.containerComponent {
  margin: 0 auto;
  max-width: 936px;
  padding: 0 32px;
  position: relative;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 16px;
  }

  &.topMargin {
    margin-top: 72px;

    @media (max-width: 575px) {
      margin-top: 40px;
    }
  }
}
