$medium-breakpoint: 480px;
$wide-breakpoint: 768px;

.root {
  margin: 0 auto;
  max-width: 872px;
  width: 100%;
}

.header {
  margin-bottom: 41px;
}

.row {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.6px;
  line-height: 1.33;
  margin-bottom: 20px;
  color: var(--info-text-color);

  @media (min-width: $wide-breakpoint) {
    flex-direction: row;
    margin-bottom: 10px;
  }

  &:last-child {
    .label {
      min-width: 160px;
    }

    .value > div {
      line-height: 1.5;
      white-space: pre;
    }
  }
}

.label {
  font-family: ProximaNova, sans-serif;
  font-weight: 600;
  width: 160px;
  position: relative;
}

.value {
  font-family: ProximaNova, sans-serif;
  font-weight: 300;
}

.idRow {
  word-break: break-all;
  @media (min-width: $wide-breakpoint) {
    word-break: normal;
  }
}

.fromRow {
  margin-bottom: 0;
}

.io {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  @media (max-width: $medium-breakpoint) {
    flex-direction: column;
  }

  .amount {
    display: none;
    @media (min-width: $medium-breakpoint) {
      color: var(--solid-text-color);
      display: block;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
  &:last-child {
    margin-bottom: 6px;
    @media (min-width: $wide-breakpoint) {
      margin-bottom: 30px;
    }
  }
  @media (min-width: $medium-breakpoint) {
    min-width: 445px;
  }
  @media (min-width: $wide-breakpoint) {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.address {
  display: flex;
}

.arrowMobile,
.arrowDesktop {
  margin-left: 38px;
  svg {
    transform: rotate(90deg);
    height: 10px;
    object-fit: contain;
    width: 14px;
  }
}

.arrowMobile {
  margin-bottom: 8px;
  @media (min-width: $wide-breakpoint) {
    display: none;
  }
}

.arrowDesktop {
  position: absolute;
  top: calc(50% + 2px);
  display: none;
  @media (min-width: $wide-breakpoint) {
    display: block;
  }
}

.txSeparator {
  svg {
    width: 100%;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .amount {
    display: none;
    @media (min-width: $medium-breakpoint) {
      color: var(--solid-text-color);
      display: block;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }
}
