.transactionSummaryContainer {
  margin: 0 auto;
  max-width: 872px;
  width: 100%;

  .header {
    margin-bottom: 41px;
  }

  .content {
    display: flex;
    justify-content: space-between;

    .infoPanel {
      color: var(--info-text-color);

      .infoRow {
        display: flex;
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 1.33;
        margin-bottom: 10px;

        .infoLabel {
          font-family: ProximaNova, sans-serif;
          font-weight: 600;
          width: 130px;
        }

        .infoValue {
          font-family: ProximaNova, sans-serif;
          font-weight: 300;

          span {
            color: var(--primary-highlight-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}
