@import '../../styles/global/index';

.content {
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 32px;
  position: relative;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}
