.blockListContainer {
  position: relative;
  :global {
    .epoch {
      width: 90px;
    }

    .blocksSlots {
      width: 100px;
    }

    .createdAt {
      width: 160px;
    }

    .createdBy {
      text-align: right;
      width: 120px;
    }

    .transactions {
      width: 120px;
    }

    .size {
      text-align: right;
      width: 120px;
    }

    .output {
      text-align: right;
      width: 122px;
    }

    @media (max-width: 991px) and (min-width: 768px) {
      .createdAt {
        width: 130px;
      }
    }

    @media (max-width: 767px) and (min-width: 576px) {
      .size {
        display: none;
      }

      .createdBy {
        display: none;
      }
    }

    @media (max-width: 575px) {
      .epoch {
        text-align: center;
        width: 60px;
      }

      .blocksSlots {
        width: 110px;
      }

      .createdAt {
        text-align: center;
        width: 160px;
      }

      .transactions {
        display: none;
      }

      .size {
        display: none;
      }

      .output {
        display: none;
      }
    }

    @media (max-width: 400px) {
      .createdBy {
        display: none;
      }
    }
  }
}

.loadingOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  backdrop-filter: blur(1px);
}
