.languageSwitcherContainer {
  background-color: transparent;
  border: solid 0.5px var(--solid-text-color);
  border-radius: 1px;
  display: flex;
  height: 30px;
  position: fixed;
  right: 61px;
  top: 53px;
  width: 92.5px;
  z-index: 9999;

  .currentLanguage {
    align-items: center;
    color: var(--solid-text-color);
    display: flex;
    font-family: ProximaNova, sans-serif;
    font-size: 12px;
    font-weight: 300;
    height: 100%;
    letter-spacing: 0.6px;
    padding: 7.5px 10.3px;

    @media (max-width: 768px) {
      color: var(--primary-highlight-color);
      padding: 7.5px;
    }
  }

  .languageSelector {
    border-left: solid 0.5px var(--solid-text-color);

    .languageDropdown {
      border-left: 5.5px solid transparent;
      border-right: 5.5px solid transparent;
      border-top: 5.5px solid var(--primary-highlight-color);
      height: 0;
      left: 8px;
      position: relative;
      top: 20px;
      width: 0;
    }

    @media (max-width: 768px) {
      display: none;
    }

    .languagesDropdown {
      //display: none;
      background-color: transparent;
      border: solid 0.5px var(--solid-text-color);
      border-radius: 1px;
      color: var(--solid-text-color);
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 28px;
      width: 92px;

      li {
        border-bottom: solid 0.5px var(--solid-text-color);
        font-family: ProximaNova, sans-serif;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.6px;
        padding: 7.5px 10.3px;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: var(--primary-highlight-color);
          color: var(--primary-bg-color);
          cursor: pointer;
        }
      }

      &.show {
        background-color: transparent;
        border: solid 0.5px var(--solid-text-color);
        border-radius: 1px;
        color: var(--solid-text-color);
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 28px;
        width: 92px;

        li {
          border-bottom: solid 0.5px var(--solid-text-color);
          font-family: ProximaNova, sans-serif;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 0.6px;
          padding: 7.5px 10.3px;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: var(--primary-highlight-color);
            color: var(--primary-bg-color);
            cursor: pointer;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    height: 28px;
    right: 16px;
    position: absolute;
    top: 32px;
    width: 32px;
  }
}
