.languageSwitcherContainer {
  background-color: transparent;
  border: solid 1px var(--hint-text-color);
  border-radius: 1px;
  cursor: pointer;
  display: flex;
  height: 30px;
  position: absolute;
  right: 61px;
  top: 53px;
  min-width: 90px;
  z-index: 9999;

  @media (max-width: 768px) {
    height: 28px;
    right: 16px;
    position: absolute;
    top: 32px;
    min-width: 32px;
  }
}

.currentLanguage {
  align-items: center;
  color: var(--solid-text-color);
  display: flex;
  font-family: ProximaNova, sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 100%;
  letter-spacing: 0.6px;
  padding: 7.5px 10.3px;

  @media (max-width: 768px) {
    color: var(--primary-highlight-color);
    padding: 7.5px;
  }
}

.languagesMenu {
  background-color: var(--header-background-color);
  border: 1px solid var(--hint-text-color);
  border-radius: 1px;
  color: var(--solid-text-color);
  flex-direction: column;
  position: absolute;
  top: 29px;
  left: -1px;
  width: calc(100% + 2px);
  display: none;

  &.isDropdownVisible {
    display: flex;
  }

  @media (min-width: 768px) {
    top: 33px;
  }

  li {
    font-family: ProximaNova, sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.6px;
    padding: 7.5px;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) {
      justify-content: initial;
      padding: 8px 10px 7px 10px;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--footer-separator-color);
      cursor: pointer;
    }
  }
}

.languageSelector {
  width: 30px;
  border-left: solid 1px var(--hint-text-color);

  .arrow {
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 5.5px solid var(--primary-highlight-color);
    height: 0;
    left: 9px;
    position: relative;
    top: 19px;
    width: 0;

    &.isDropdownVisible {
      border-top: none;
      border-left: 5.5px solid transparent;
      border-right: 5.5px solid transparent;
      border-bottom: 5.5px solid var(--primary-highlight-color);
      top: -7px;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.isMobileOnly {
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: none;
  }
}

.isDektopOnly {
  @media (max-width: 768px) {
    display: none;
  }
}
