/**
 *
 * Common variables across all themes
 *
 * E.G. Fonts, animations, etc.
 *
 *
 */
$primary-bg: #121326;
$hint-text: rgba(255, 255, 255, 0.3);
$table-text: rgba(255, 255, 255, 0.5);
$info-text: rgba(255, 255, 255, 0.7);
$solid-text: rgba(255, 255, 255, 1);
$search-area-bg: rgba(255, 255, 255, 0.05);
$highlighted-dark-area-bg: rgba(255, 255, 255, 0.05);
$footer-separator: rgba(255, 255, 255, 0.1);
$popup-bg: #3f404f;
$shadow-color: rgba(0, 0, 0, 0.5);

@keyframes :global(loading-spin) {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
