.footerContainer {
  .footerTopContainer {
    display: flex;

    .copyright {
      color: #ffffff;
      font-family: 'Proxima Nova', sans-serif;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: 1.2px;
      opacity: 0.3;
      text-transform: uppercase;
    }

    .logos {
      display: flex;
    }
  }

  .footerMiddleContainer {
    .footerSeparator {
      background-color: #ffffff;
      margin: 9px 0;
      opacity: 0.1;
    }
  }
}
