.circularProgressContainer {
  .outsideCircle {
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    .spinnerCircle {
      animation: rotate 1s linear infinite;
      background-image: var(--epoch-progress-spinner-color);
      border-radius: 50%;
      left: 0;
      object-fit: contain;
      position: absolute;
      top: 0;
    }

    .insideCircle {
      align-items: center;
      background-color: var(--primary-bg-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .circularProgressPinCircle {
      background-color: var(--primary-highlight-color);
      border-radius: 50%;
      height: 6px;
      left: 5px;
      position: absolute;
      top: 1px;
      width: 6px;
    }

    .circularProgressPinImage {
      height: 21.4px;
      left: 18px;
      object-fit: contain;
      position: absolute;
      top: 0.5px;
      width: 21.4px;
      :global(.outer-ring) {
        fill: var(--primary-highlight-color);
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
