/**
 *
 * Variables for the `testnet` theme.
 *
 */
$primary-bg: #121326;
$hint-text: rgba(255, 255, 255, 0.3);
$table-text: rgba(255, 255, 255, 0.5);
$info-text: rgba(255, 255, 255, 0.7);
$solid-text: rgba(255, 255, 255, 1);
$primary-highlight-color: #1fc1c3;
$primary-highlight-color-hover: #1db0b3;
$primary-highlight-color-press: #1aa1a3;
$secondary-highlight-color: #709cf0;
$dotted-separator-color: #36395d;
$search-area-bg: rgba(255, 255, 255, 0.05);
$footer-separator: rgba(255, 255, 255, 0.1);
$popup-bg: #3f404f;
