.epochListRowContainer {
  align-items: center;
  color: $table-text;
  display: flex;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 1.33;
  padding: 5px 0;
  text-align: center;

  .epoch {
    color: $primary-highlight-color;
    width: 90px;
  }

  .blocksSlots {
    width: 120px;
  }

  .startedAt {
    width: 170px;
  }

  .endedAt {
    width: 170px;
  }

  .transactions {
    width: 140px;
  }

  .output {
    flex: 1;
    text-align: right;
  }
}
