.root {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

  @media (max-width: 575px) {
    justify-content: flex-start;
  }

  .showMoreButton {
    text-decoration: none;
    color: var(--primary-bg-color);
    font-family: ProximaNova, sans-serif;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    background-color: var(--primary-highlight-color);
    border-radius: 2px;
    display: flex;
    height: 25px;
    justify-content: center;
    letter-spacing: 0.4px;
    line-height: 1.33;
    padding: 0;
    width: 133.5px;

    &:hover {
      background-color: var(--primary-highlight-color-hover);
    }
    &:active {
      background-color: var(--primary-highlight-color-press);
    }
  }
}
