.component {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon path {
    fill: var(--primary-highlight-color);
  }

  &.big svg {
    height: 44px;
    width: 44px;
  }

  &.medium svg {
    height: 24px;
    margin: 0;
    width: 24px;

    .icon path {
      fill: var(--primary-highlight-color);
    }
  }

  &.small svg {
    height: 30px;
    width: 30px;
  }

  svg :global {
    animation: loading-spin 1.5s linear infinite;
  }
}
