.paginationContainer {
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: center;

  :global {
    .SimpleButton_root:not(.SimpleButton_disabled):hover {
      background-color: transparent;
      border-left-color: var(--primary-highlight-color);
      border-right-color: var(--primary-highlight-color);
      opacity: 1;
    }
  }

  .leftArrow,
  .rightArrow {
    background-color: transparent;
    border: 0;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-radius: 0;
    height: 0;
    padding: 0;
    width: 0;

    &:hover {
      background-color: transparent;
    }
  }

  .firstArrow {
    right: 14px;
    position: relative;
    width: 14px;
    z-index: 0;

    svg > path {
      fill: var(--secondary-highlight-color);
      opacity: 0.3;
    }
  }

  .leftArrow {
    border-right: 9px solid var(--secondary-highlight-color);
    margin-right: 12px;
    opacity: 0.3;

    &:not(.disabled):hover {
      background-color: transparent;
      border-right-color: var(--primary-highlight-color);
      opacity: 1;
    }

    &.firstLeftArrow {
      border: none !important;
      height: 14px;
      margin-right: 0;
      width: 14px;
      z-index: 1;

      &:hover + .firstArrow {
        path {
          fill: var(--primary-highlight-color) !important;
        }
      }
    }

    &.disabledFirstLeftArrow {
      border: none !important;
      height: 14px;
      width: 14px;
      z-index: 1;
    }
  }

  .rightArrow {
    border-left: 9px solid var(--secondary-highlight-color);
    margin-left: 12px;
    opacity: 0.3;

    &:not(.disabled):hover {
      background-color: transparent;
      border-left-color: var(--primary-highlight-color);
      opacity: 1;
    }

    &.secondRightArrow {
      border: none !important;
      height: 14px;
      width: 14px;
      z-index: 1;

      &:hover + .lastArrow {
        path {
          fill: var(--primary-highlight-color) !important;
        }
      }
    }

    &.disabledSecondRightArrow {
      border: none !important;
      height: 14px;
      width: 14px;
      z-index: 1;
    }
  }

  .lastArrow {
    right: 14px;
    position: relative;
    width: 14px;
    z-index: 0;

    svg > path {
      fill: var(--secondary-highlight-color);
      opacity: 0.3;
    }
  }

  .pageInfo {
    display: flex;
    font-family: ProximaNova, sans-serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 1.67;

    .pageNumber {
      margin-right: 10px;

      .paginationInputStyles {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--hint-text-color);
        border-radius: 0;
        color: var(--solid-text-color);
        font-family: ProximaNova, sans-serif;
        font-size: 12px !important;
        letter-spacing: 1.2px;
        outline: none;
        text-align: center;
      }
    }

    .pageOf {
      color: var(--hint-text-color);
      margin-right: 10px;
      vertical-align: middle !important;
    }

    .totalPagesNumber {
      color: var(--hint-text-color);
      vertical-align: middle !important;
    }
  }
}
