.addressSummary {
  margin: 71px 0;

  @media (max-width: 575px) {
    margin: 51px 0;
  }
}

.transactionList {
  margin-bottom: 139.5px;

  @media (max-width: 575px) {
    margin-bottom: 83px;
  }
}

.loadingSpinnerMargin {
  margin: 150px 0;
}
