.noSearchResultContainer {
  margin: 0 auto;
  margin-bottom: 21px;
  margin-top: 71px;
  max-width: 872px;
  width: 100%;

  .header {
    padding-bottom: 50px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    .errorPanel {
      color: var(--solid-text-color);

      .errorRow {
        align-items: center;
        display: flex;
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 1.33;
        margin-bottom: 10px;

        .errorIcon {
          align-items: center;
          background-color: var(--error-color);
          border-radius: 50%;
          display: flex;
          height: 24px;
          justify-content: center;
          width: 24px;

          .errorInnerIcon {
            color: var(--primary-bg-color);
            font-family: ProximaNova, sans-serif;
            font-size: 12px;
            font-weight: 600;
          }

          @media (max-width: 600px) {
            float: left;
          }
        }

        .errorMessage {
          color: var(--error-color);
          font-family: ProximaNova, sans-serif;
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.6px;
          padding-left: 20px;
          text-align: left;
          text-transform: uppercase;

          @media (max-width: 600px) {
            line-height: 2;
            padding-left: 45px;
          }
        }

        @media (max-width: 600px) {
          display: inline-block;
        }
      }

      .errorRowDescription {
        margin-top: -15px;
        padding-left: 45px;

        .errorValue {
          color: var(--solid-text-color);
          font-family: ProximaNova, sans-serif;
          font-size: 12px;
          letter-spacing: 1.2px;
          line-height: 1.67;

          @media (max-width: 600px) {
            word-break: break-all;
          }
        }

        .errorDescriptionContainer {
          align-items: flex-start;
          display: flex;
          padding-top: 10px;

          .errorDescriptionIcon {
            border-bottom: 1px solid var(--secondary-highlight-color);
            border-left: 1px solid var(--secondary-highlight-color);
            height: 20px;
            width: 20px;
          }

          .errorDescriptionText {
            color: var(--info-text-color);
            font-family: ProximaNova, sans-serif;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 1.2px;
            line-height: 1.67;
            margin-top: 10px;
            padding-left: 15px;
          }
        }

        @media (max-width: 600px) {
          margin-top: 0;
        }
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
