.errorContainerLayout {
  header {
    > div {
      > div {
        > div:nth-child(3),
        > div:nth-child(4) {
          display: none !important;
        }
      }
    }
  }

  footer {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.errorContainerBackground {
  height: 100%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: -150px;
  width: 1185px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    top: -210px;
  }

  @media (max-width: 575px) {
    top: -340px;
  }
}

.topBackgroundContainer {
  background-image: var(--error-top-container-bg-color);
  height: 320px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1200px;
  z-index: 1;
}

.bottomBackgroundContainer {
  background-image: var(--error-bottom-container-bg-color);
  bottom: 300px;
  height: 320px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 1200px;

  @media (max-width: 768px) {
    bottom: 500px;
  }

  @media (max-width: 575px) {
    bottom: 650px;
  }
}
