@mixin text($font-size, $font-weight, $color, $letter-spacing) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
  line-height: calc(#{$font-size} + 10px);
  letter-spacing: $letter-spacing;
}

.tooltip {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.tooltip .translateCenter,
.tooltip .translateRightTop {
  @include text(11px, 300, var(--solid-text-color), 1.3px);
  text-align: left;
  padding: 5px 10px;
  background: #121326;
  border: 1px solid var(--dotted-separator-color);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  position: absolute;
  transform: translate(0%, -100%);
  z-index: 9999000;
  opacity: 1 !important;
  width: 300px;
  transition-delay: 0.2s;
  @media (min-width: 768px) {
    visibility: hidden;
  }
}

.tooltip .translateCenter {
  top: -5px;
}

.tooltip .translateRightTop {
  top: -5px;
  right: -15px;
}

.tooltip:hover .translateCenter,
.tooltip:hover .translateRightTop {
  visibility: visible;
}

.contentContainer {
  .label {
    font-weight: 600;
  }
  .body {
    color: var(--info-text-color);
  }
}
