.epochContainer {
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 1.33;
  padding: 5px 0;
  text-align: center;

  .epoch {
    color: #1fc1c3;
    width: 90px;
  }

  .blocksSlots {
    width: 120px;
  }

  .startedAt {
    width: 170px;
  }

  .endedAt {
    width: 170px;
  }

  .transactions {
    width: 140px;
  }

  .output {
    flex: 1;
    text-align: right;
  }
}
