.bodyContainer {
  display: flex;
  flex-direction: column;

  :global {
    .row-enter {
      opacity: 0.01;
    }

    .row-enter.row-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

    .row-leave {
      opacity: 1;
    }

    .row-leave.row-leave-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
  }
}
