.row {
  align-items: center;
  border-bottom: 2px dotted var(--dotted-separator-color);
  color: var(--table-text-color);
  display: flex;
  font-family: ProximaNova, sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 1.33;
  padding: 5px 25.5px;
  text-align: center;

  @media (max-width: 991px) {
    padding: 5px 12px;
  }
}

.clickableCell {
  color: var(--primary-highlight-color);
  &:hover {
    cursor: pointer;
  }
}
